#graph {
    margin: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
}

.days li:nth-child(odd) {
    visibility: hidden;
}

.days li {
    list-style-type: none;
    color: #555;
}

.months li {
    list-style-type: none;
    color: #555;
}

.squares {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(7, 15px);
    grid-auto-flow: column;
    grid-auto-columns: 15px;
}

.squares li {
    list-style-type: none;
    background-color: #e1e4e8;
    border-radius: 2px;
}

.days-squares {
    display: flex;
}

.squares li[data-level="none"] {
    background-color: #ffffff00;
}

.squares li[data-level="-1"] {
    background-color: #e8eaec;
}

.squares li[data-level="0"] {
    background-color: #e1e4e8;
    background-color: #e1e4e8;
}

.squares li[data-level="1"] {
    background-color: #c6e48b;
    background-color: #D4EAFF;
}

.squares li[data-level="2"] {
    background-color: #7bc96f;
    background-color: #AAD6FF;
}

.squares li[data-level="3"] {
    background-color: #196127;
    background-color: #75B2EB;
}
.squares li[data-level="4"] {
    background-color: #3F81C1;
}

.squares li[data-level="5"] {
    background-color: #113F6B;
}

.squares li[data-level="6"] {
    background-color: #00366B;
}

.months {
    display: grid;
}

.legend {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
    padding-left: 0.5em;
}

#data-level-legend {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 15px);
    grid-template-rows: repeat(1, 15px);
    grid-auto-flow: row;
    grid-auto-rows: 15px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}