

.container {
    height: 70px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#c2logo {
    padding: 15px;
    padding-left: 30px;
    width: 300px;
    height: 45px;
}

.navbar-blue {
    width: 100%;
    background-color: #003A70;
    color: #dfdfdf;
    line-height: 20px;
    font-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    background-image: none;
    border-radius: 0;
    background-image: linear-gradient(to bottom, #003A70 0, #002d57 100%);
}

@font-face {
    font-family: "ProximaNovaSemibold";
    src: url("ProximaNova-Semibold.ttf") format("truetype"),
        url("ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
}

h1 {
    margin: 0;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
    font-size: 16px;
    /* font-weight: bold; */
    font-weight: lighter;
    font-family: ProximaNovaSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    text-transform: uppercase;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

h1:hover {
    color: #fff;
}